{% trans_default_domain 'FOSUserBundle' %}




{% extends 'base.html.twig' %}

{% block body %}

    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Edit-Password</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li>edit-password</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp ad post Wrapper Start -->
    <div class="jp_adp_main_section_wrapper">
        <div class="container">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

            {{ form_errors(form) }}

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="jp_adp_form_heading_wrapper">
                        <h2 style="color: #8dc539">Fill the form below</h2>
                    </div>
                    <label>new password</label>

                    <div class="jp_adp_form_wrapper">
                        {{ form_widget(form.plainPassword.first) }}
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom_line_Wrapper">
                    <div class="jp_adp_form_heading_wrapper">
                        <p>Fields with * are mandetory</p>
                    </div>
                    <label>confirm password</label>

                    <div class="jp_adp_form_wrapper">
                        {{ form_widget(form.plainPassword.second) }}

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label>current password</label>
                    <div class="jp_adp_form_wrapper">
                        {{ form_widget(form.current_password) }}

                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_adp_choose_resume_bottom_btn_post">
                        <ul>
                            <li>
                                <style>
                                    #btn{
                                        border-color:#8dc539;
                                        background: #8dc539;
                                        height: 50px; width: 160px;
                                        transition-duration: 0.4s;
                                    }
                                    #btn:hover{
                                        border-color: #8dc539;
                                        background: transparent;
                                        color: #8dc539;
                                    }
                                </style>
                                <button id="btn" type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp; Confirm</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    <!-- jp ad post Wrapper End -->


{% endblock %}



