{% trans_default_domain 'FOSUserBundle' %}


{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('profile.css') }}" rel="stylesheet">

    <div class="container">

    </div>

    <hr>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        {% if 'https' in app.user.imageName %}
                            <img src="{{ app.user.imageName }}" class="img-responsive" alt="">
                        {% else %}
                            <img src="{{ asset("AppImg/" ) }}{{ app.user.imageName }}" class="img-responsive" alt="">

                        {% endif %}
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ app.user.nom }} {{ app.user.prenom }}
                        </div>

                    </div>
                    <div class="profile-usermenu">
                        <br>
                        <ul class="nav">
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Paramètres du compte </a>
                            </li>
                            <li class="active">
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Modifier mot de passe </a>
                            </li>
                            <li>
                                <a href="{{ path('mesdons') }}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Mes dons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    <div class="row">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}

                                    <div role="alert" class="alert success-message alert-dismissible fade in">
                                        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                                            <span aria-hidden="true">×</span></button>
                                        <p> {{ message }}</p>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {{ form_start(form) }}

                        {{ form_errors(form) }}
                        <br>

                        <div class="col-md-6">
                            <label>Nouveau mot de passe</label>

                            <div class="input-container">
                                <i class="fa fa-envelope"></i>
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'required','placeholder':'mot de passe'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Confirmer le mot de passe</label>
                            <div class="input-container">
                                <i class="fa fa-user"></i>
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'required','placeholder':'mot de passe'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 justify-content-center pull-right">
                                <button class="btn-filled">Modifier <i
                                            class="fa fa-pencil"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            document.paiment.submit();
        </script>
    {% endblock %}
{% endblock %}
