
{% extends 'admin.html.twig' %}
{% block body %}

    <div class="card">
        <div class="card-header">
            <h1>modifier album</h1>
        </div>
        <div class="card-body">
            {{ form_start(edit_form) }}



            <div class="form-row">

                <div class="col-md-6">
                    <div class="form-row">

                        <div class="col-md-6">
                            <div class="position-relative form-group"><label
                                        for="exampleEmail11" class="">nom</label>
                                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="card  o-hidden mb-4"  style="height: 250px;width: 300px" >
                                <img class="card-img"  src="{{ asset('AppImg/') }}{{ product.imageName }}" alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">{{ product.name }}</h5>
                                </div>
                            </div>
                            <label
                                    for="examplePassword11" class="">Image</label>
                            <div class="position-relative form-group">
                                {{ form_widget(edit_form.imageFile, { 'attr': {'class': 'custom-file-input'} }) }}
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">choisir une image</label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

            <div id="mc_embed_signup_scroll" class="htc__news__inner">
                <div class="slider__btn">
                    <button class="btn btn-primary" type="submit"><i
                                class="fa fa-check"></i>&nbsp; modifier
                    </button>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>

    </div>

{% endblock %}